@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Patrick+Hand');

.main2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    font-family: 'Patrick Hand', cursive;
    font-size: 4vh;
    line-height: 4vh;
}

.main2 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    flex-basis: 22%;
    margin: 1vh 1vw 1vh 1vw;
}

.main2 .item h3 {
    font-size: 7vh;
    line-height: 5vh;
}