@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

body {
    margin: 0;
}

/* Main */
.main {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    background-color: rgba(146, 182, 213, 0.2);
    font-family: 'Open Sans', sans-serif;
}

    .main a {
        border-bottom: none;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        color: #3b444b;
        cursor: pointer;
        outline: 0;
        overflow: hidden;
    }

        .main a img {
            display: block;
            height: 35vh;
            width: 100%;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .main a h1 {
            font-size: 1.2em;
            margin: 0.2em;
            padding: 0;
        }

        .main a:hover h1 {
            color: #16689B;
        }

    .main > div {
        display: flex;
        align-items: stretch;
        margin: 1em;
        flex: 1 1 15%;
    }

        .main > div > :last-child {
            margin-bottom: 0;
        }