/* Style the navigation bar */
 .navbar {
  width: 100%;
  background-color: #0c3955;
  overflow: auto;
}

/* Navbar Head*/
.title {
  font-size: 20px !important;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  background-color: #000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} 